body {
  background-color: lightblue;
  ;
}


.btn{ color: navy;
  margin-left:20px;
  } 
p {
  color: hotpink;
}
h2 {
  color: ghostwhite;
  
}
h3 {
  color: ghostwhite;
}
img {
  color: lightblue;
}
h1{
  color: hotpink;
}
